# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Dependencies
node_modules
pnpm-lock.yaml  # 주의: 이건 빼야함!

# Build outputs
dist
dist-ssr
build
.next
.output
out

# Turborepo
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage
*.lcov
.nyc_output

# Environment
.env
.env*.local
!.env.example

# Temporary
*.tmp
*.temp
.cache